In [11]:
from nltk.corpus import wordnet as wn
import nltk
import pandas as pd

In [31]:
def load_flanders():
    f = open("moll-flanders.txt")
    text = f.read()
    sentences = nltk.sent_tokenize(text)
    df = pd.DataFrame()
    df["sentence"] = sentences
    df["num"] = range(len(sentences))
    df["pct"] = df.num / len(sentences)

    df["words"] = df.sentence.apply(lambda x: set([w.lower() for w in nltk.word_tokenize(x)]))

    df["has_moll"] = df.sentence.apply(lambda x: "Moll " in x)
    df["location"] = "unknown"
    return df

In [32]:
df = load_flanders()
df

,sentence,num,pct,words,has_moll,location
0,My true name is so well known in the records o...,0,0.000000,"{true, is, things, nor, bailey, pardon, death,...",False,unknown
1,"It is enough to tell you, that as some of my w...",1,0.000372,"{dare, is, doing, who, string, moll, may, are,...",True,unknown
2,I have been told that in one of neighbour nati...,2,0.000745,"{neighbour, i, by, taken, generally, whether, ...",False,unknown
3,"Had this been the custom in our country, I had...",3,0.001117,"{fate, itself, tended, how, helper, exposed, i...",False,unknown
4,But the case was otherwise here.,4,0.001489,"{the, ., case, was, otherwise, here, but}",False,unknown
...,...,...,...,...,...,...
2681,"He was perfectly easy in the account, and told...",2681,0.998138,"{have, should, told, and, the, man, we, had, h...",False,unknown
2682,"“For,” said he, “it was no fault of yours, nor...",2682,0.998511,"{vile, nor, conceal, part, fault, i, for, afte...",False,unknown
2683,"Thus all these\ndifficulties were made easy, a...",2683,0.998883,"{greatest, comfort, thus, together, these, and...",False,unknown
2684,"We are grown old; I am come back to England, b...",2684,0.999255,"{limited, good, notwithstanding, have, us, are...",False,unknown
2685,My husband remained there some time after\nme ...,2685,0.999628,"{is, spend, intended, sincere, have, i, but, r...",False,unknown

In [60]:


def tag_location(start_token, end_token, tag):
    """
        start_token: the first part of a sentence where they are in a new location
        end_token: the last part of the sentence in the location
        tag: the short name of the location (e.g. "newcastle", "virginia")
    """
    start = int(df[df.sentence.str.startswith(start_token) == True].num)
    end = int(df[df.sentence.str.startswith(end_token) == True].num)
    def add_tag(row):
        if int(row.num) >= start and int(row.num) <=end:
            return tag
        return row.location
    df.location = df.apply(add_tag, axis=1)


# example: tag these sentences as virginia
tag_location('All that I can say is, that after a terrible passage', 
             'I got to London in about three weeks',
             'Virginia')
df[df.location == 'Virginia']

,sentence,num,pct,words,has_moll,location
580,"All that I can say is, that after a terrible p...",580,0.215934,"{tenderness, i, by, after, taken, these, mothe...",False,Virginia
581,"We lived here all together, my mother-in-law, ...",581,0.216307,"{house, an, felicity, i, miserable, put, toget...",False,Virginia
582,"My mother was a mighty cheerful, good-humoured...",582,0.216679,"{good, woman, mighty, may, entertain, i, for, ...",False,Virginia
583,"Among the rest, she often told me how the grea...",583,0.217051,"{greatest, part, from, they, how, by, brought,...",False,Virginia
584,"“Such as we call them, my dear,” says she, “bu...",584,0.217424,"{from, felony, they, death, are, other, but, a...",False,Virginia
...,...,...,...,...,...,...
723,I came away for England in the month of August...,723,0.269173,"{eight, have, perhaps, i, misfortunes, for, af...",False,Virginia
724,We had an indifferent good voyage till we came...,724,0.269546,"{good, coast, an, drove, us, but, put, and, th...",False,Virginia
725,"We remained there about\nthirteen days, got so...",725,0.269918,"{got, sprung, they, bad, i, met, meant, put, f...",False,Virginia
726,"But we got\nat last into Milford Haven, in Wal...",726,0.270290,"{firm, i, remote, which, it, terrible, at, saf...",False,Virginia
727,"I got to London in about three weeks, where I ...",727,0.270663,"{got, part, london, i, but, weeks, by, breakin...",False,Virginia

In [49]:
df[df.num >= 580 and df.num<=600]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [42]:

start = 'All that I can say is, that after a terrible passage'
df[df.sentence.str.startswith(start) == True].num

580    580
Name: num, dtype: int64

In [38]:
va_start = df.query("sentence.str.startswith('All that I can say is, that after a terrible passage')").num
va_start

580    580
Name: num, dtype: int64

In [23]:
df[df.has_moll == True]

,sentence,num,pct,has_moll
0,The Fortunes and Misfortunes of the Famous Mol...,0,0.000000,True
35,"We cannot say, indeed, that this history is ca...",35,0.012844,True
39,"It is enough to tell you, that as some of my w...",39,0.014312,True
1728,These were they that gave me the name of Moll ...,1728,0.634128,True
1795,They all knew me by the name of\nMoll Flanders...,1795,0.658716,True
1806,I was now easy as to all fear of witnesses aga...,1806,0.662752,True
2211,"Mrs. Mary, Mrs. Molly, and after that plain Mo...",2211,0.811376,True
2385,Immediately it was rumoured all over the priso...,2385,0.875229,True